DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/jane_clone?schema=public"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
RESEND_API_KEY="re_..."
FROM_EMAIL="Turnos <onboarding@resend.dev>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
